html {
  --bg-one: #ecf39e;
  --bg-two: #4f772d;
  --bg-three: #132a13;
}

.App header {
  background-color: #006466;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
}

.content {
  min-height: 100vh;
  display: grid;
  background: var(--bg);
  background-image: linear-gradient(
    to bottom right,
    var(--bg-one),
    var(--bg-two),
    var(--bg-three)
  );
}
